%h1
  Merchant's app

%h2 Scopes

%ul
  %li 
    = link_to "Scope 1", scope1_path
  %li 
    = link_to "Scope 2", scope2_path
  %li
    = link_to "Scope 3", scope3_path
  %li 
    = link_to "Scope 4", scope4_path
