%h1
	Successful return 

%table
	%tr
		%th
			full name
		%td
			= @full_name
	%tr
		%th
			email
		%td
			= @email
	%tr
		%th
			gender
		%td
			= @gender
	%tr
		%th
			date of birth
		%td
			= @date_of_birth
	%tr
		%th
			nationality
		%td
			= @nationality
	%tr
		%th
			picture
		%td
			= @picture
	%tr
		%th
			phone number
		%td
			= @phone_number

	
	

